.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.text-field {
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}